@model List<Projet_PFA.Models.Penalite>
@{
    ViewData["Title"] = "Liste penalite";
}
<h3 class="Title">Liste Des Pinalités</h3>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>id </th>
            <th>Duree </th>
            <th>Sanction</th>
            <th>Unite</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Duree</td>
                <td>@item.Sanction</td>
                <td>@item.Unite</td>
                <td>
                    <a asp-controller="Penalite" asp-action="Update" asp-route-id="@item.Id">Modifier</a>
                </td>
                <td>
                    <a onclick="return confirm('Etes vous sur de vouloir supprimer cette pénalité ?');" asp-controller="Penalite" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>

        }
    </table>
</div>
<style>
    .Title {
        text-align: center;
        color: #000000;
        text-decoration: underline;
        margin-bottom: 40px;
    }
</style>
