@model List<Projet_PFA.Models.Employer>
@{
    ViewData["Title"] = "Liste Employers";
}
<table class="table"> 
    <tr>
        <th>id </th>
        <th>Nom </th>
        <th>Prenom</th>
        <th>CIN</th>
        <th>Date Naissance</th>
        <th>Adress</th>
        <th>Telephone</th>
        <th>Rib</th>
        <th>Salaire</th>
        <th>Superviseur </th>
        <th>Modifier</th>
        <th>Supprimer</th>
        <th>Ajouter Absence</th>
    </tr>
    @foreach (var item in Model)//Model radi tjibla la liste li raha mdowzinha f return view 
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nom</td>
            <td>@item.Prenom</td>
            <td>@item.CIN</td>
            <td>@item.DateNaissance</td>
            <td>@item.Adress</td>
            <td>@item.Tel</td>
            <td>@item.RIB</td>
            <td>@item.Salaire</td>
            <td>@item.Superviseur</td>
            <td>
                <a asp-controller="Employe" asp-action="Update" asp-route-id="@item.Id" >Modifier</a>
            </td>
            <td>
                <a asp-controller="Employe" asp-action="delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
            <td>
                <a asp-controller="Absence" asp-action="AddAbsn" asp-route-id="@item.Id">Ajouter Absence</a>
            </td>
        </tr>
        
    }
</table>