@model List<Projet_PFA.Models.Absence>
@{
    ViewData["Title"] = "Liste Des Absences";
}
<h3 class="Title"> Liste Des Absences</h3>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>id </th>
            <th>Date</th>
            <th>SuperviseurId</th>
            <th>EmployeId</th>
            <th>Modifier</th>
            <th>Supprimer</th>

        </tr>
        @foreach (Absence item in Model)//Model radi tjibla la liste li raha mdowzinha f return view
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Date.Value.Day / @item.Date.Value.Month / @item.Date.Value.Year</td>
                <td>@item.SuperviseurId</td>
                <td>@item.EmployerId</td>
                <td>
                    <a asp-controller="Absence" asp-action="Update" asp-route-id="@item.Id">Modifier</a>
                </td>
                <td>
                    <a asp-controller="Absence" asp-action="delete" asp-route-id="@item.Id" onclick="return confirm('Etes vous sur de vouloir supprimer?');">Supprimer</a>
                </td>
            </tr>

        }
    </table>
    <a asp-controller="Absence" asp-action="AffichageListe" asp-route-id="1" class="btn btn-primary btn-user">Liste d'aujourd'hui</a>
    <a asp-controller="Absence" asp-action="AffichageListe" asp-route-id="2" class="btn btn-primary btn-user">Liste d'hier</a>
    <a asp-controller="Absence" asp-action="AffichageListe" asp-route-id="3" class="btn btn-primary btn-user">Liste de la dernier semaine</a>
    <a asp-controller="Absence" asp-action="AffichageListe" asp-route-id="4" class="btn btn-primary btn-user">Liste de ce mois</a>
</div>
<style>
    .Title
    {
        text-align:center;
        color: #000000;
        text-decoration: underline;
        margin-bottom: 40px;
    }
</style>
